@model Product_Catalog_Order.UI.Models.CardModel.Card




    <div class="form-inline">
        
        <a href="/Card/Index"><i class="fas fa-shopping-cart"></i>@Model.cardItems.Count()</a>
    </div>
