
@{
    ViewBag.Title = "AdminIndex";
}

    <div class="container mt-5">

        <h2>Admin Index</h2>

        <a href="/Admin/CategoryList" class="btn btn-primary">Category List</a>
        <a href="/Admin/ProductList" class="btn btn-primary">Product List</a>
        <a href="/Order/AdminOrder" class="btn btn-primary">Order List</a>



    </div>

